/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Container */

/* Header */
.header-logo {
  width: 300px;
}

/* Footer */
.site-footer {
  margin-top: $base__space-unit * 3;
}


/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: $base__space-unit * 1.7 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.entry-meta {

  .entry-title {
    margin: 0;
    display: inline;
  }

  .source {
    font-size: $font__size * 1.25;
    font-family: $font__accent;
    word-break: keep-all;
  }
}

/* About Page - about.php */
.page-template-about .entry-content {
  p {
    font-size: $font__size;
  }
}

/* Archives Page - page-archives.php */
.post-archives,
.cat-archives,
.tag-archives {
  h2 {
    margin-top: $base__space-unit * 1.9;
    font-size: $font__size * 1.5;
    font-family: $font__button;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;

    li {
      margin-right: $base__space-unit * 0.75;
    }
  }
}

.page .site-footer {
  margin-top: $base__space-unit * 3.5;
  margin-bottom: $base__space-unit;
}

/* 404 Page - 404.php */
.error404 {
  h1 {
    margin-top: $base__space-unit;
  }

  .search-form {
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;

      .search-field {
        width: 250px;
        padding: 4px 10px;
      }

      .search-submit {
        margin-top: 0;
        border: 0;
        padding: 0;
        padding-left: 5px;


      }
    }
  }
}

/* Search - search.php */
.search-results {
  .page-header {
    border-bottom: $border__dashed;
  }
}

/* Submit a Quote - page-submit.php */
.quote-submission {
  display: flex;
  flex-direction: column;

  .entry-header {
    .entry-title {
      margin-bottom: 0;
    }
  }

  .quote-submission-wrapper {




    form {
      div {
        margin: 0.75rem 0;
        display: flex;
        flex-direction: column;

        label {
          margin: 0.75rem 0;
          font-family: $font__button;
        }

        input[type="text"],
        input[type="url"] {
          width: 225px;
        }

        input[type="text"],
        input[type="url"],
        textarea {
          cursor: default;
        }
      }
    }
  }
}