/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Header */
.header-logo {
  width: 300px;

  @include tablet {
    width: 500px;
  }

  @include desktop {
    width: 700px;
  }
}

/* Footer */
.site-footer,
.page-template-about .site-footer {
  margin-top: $base__space-unit * 3;

  @include tablet {
    display: flex;

    .site-info {
      display: flex;

      @include desktop {
        padding-right: $base__space-unit;
      }

      &:before {
        content: "\007c";
        display: inline-flex;
        margin-right: $base__space-unit / 2;
      }
    }
  }

  @include desktop {
    align-self: flex-end;
  }
}

.single-post .site-footer {
  margin-top: $base__space-unit * 2;
}

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: $base__space-unit * 1.7 0 $base__space-unit;

  @include tablet {
    margin-top: $base__space-unit;
  }

  @include desktop {
    margin-bottom: $base__space-unit * 2;
  }
}

.tag .hentry {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.entry-meta {

  .entry-title {
    margin: 0;
    display: inline;
  }

  .source {
    font-size: $font__size * 1.25;
    font-family: $font__accent;
    word-break: keep-all;
  }
}

/* 404 Page - 404.php */
.error404 {
  h1 {
    margin-top: $base__space-unit;
  }

  .error-404 {
    @include desktop {
      width: $container;
    }
  }
}

.error404,
.search-no-results {
  .search-form {
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;

      .search-field {
        width: 240px;
        padding: 4px 8px;

        @include tablet {
          font-size: $font__size * 1.25;
        }
      }

      .search-submit {
        margin-top: 0;
        border: 0;
        padding: 0;
        padding-left: 5px;
      }
    }
  }

  .site-footer {
    margin-top: $base__space-unit * 4;
  }
}

/* Search - search.php */
.search-results .site-content {
  .content-area {
    .site-main {
      .post {
        margin-top: $base__space-unit;

        @include desktop {
          margin-bottom: $base__space-unit;
        }
      }
    }
  }
}

.search-results .site-content,
.category .site-content,
.tag .site-content {
  .content-area {
    .site-main {
      .page-header {
        border-bottom: $border__dashed;

        @include desktop {
          width: $container - 100px;
        }
      }

      .post {
        .entry-header {
          .entry-title {
            font-family: $font__button;
            font-size: $font__size * 1.5;
          }
        }

        .entry-content {
          p {
            font-size: $font__size * 1.25;

            @include tablet {
              font-size: $font__size * 1.75;
            }

            @include desktop {
              font-size: $font__size * 2.5;
            }
          }
        }
      }
    }
  }
}

.search-results .site-content {
  .type-page {
    .entry-header {
      margin-top: $base__space-unit * 2;

      .entry-title {
        font-family: $font__button;
        font-size: $font__size * 1.5;
      }
    }
  }
}

.category .site-main,
.tag .site-main {
  .post {
    padding-bottom: $base__space-unit * 2;
    border-bottom: $border__dashed;

    @include desktop {
      margin-top: $base__space-unit * 1.75;
    }
  }
}

.search-results .site-footer {
  @include desktop {
    margin-top: $base__space-unit;
  }
}

.search-no-results {
  .page-content {
    margin: $base__space-unit * 2.75 0 0;
    padding-top: $base__space-unit;
    border-top: $border__dashed;

    @include desktop {
      width: $container - 100px;
    }
  }

  .site-footer {
    margin-top: $base__space-unit * 4.25;

    @include desktop {
      margin-top: $base__space-unit * 2;
    }
  }
}