/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid $color__brand-green;

  border-radius: 3px;
  background: transparent;

  color: $color__brand-green;
  font-family: $font__button;
  font-size: 1rem;
  line-height: 1;
  padding: $base__space-unit / 2 $base__space-unit * 1.5;
  /* text-shadow: 0 1px 0 hsla(0,0%,100%,.8); */
  margin-top: $base__space-unit;


  &:hover,
  &:active,
  &:focus {
    outline: 0;
    color: $color__link-hover;
    border-color: $color__link-hover;
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  }

  // &:active,
  // &:focus {
  //   border-color: $;
  //   box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  // }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}