/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  clear: both;
  float: left;
  width: 100%;

  @include tablet {
    width: auto;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 1rem 0;
    display: flex;

    @include tablet {
      margin: 0;
    }

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {

        &:hover>ul,
        &.focus>ul {
          left: 100%;
        }

      }

      a {
        width: 200px;
      }

      :hover>a,
      .focus>a {}

      a:hover,
      a.focus {}
    }

    li:hover>ul,
    li.focus>ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;
    padding-right: $base__space-unit / 2;
    display: flex;

    &:hover>a,
    &.focus>a {}

    &:before {
      content: "\007c";
      display: inline-flex;
      margin-right: $base__space-unit / 2;
    }

    &:first-child:before {
      content: "";
      display: none;
    }

  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item>a,
  .current-menu-item>a,
  .current_page_ancestor>a {}
}

/* Small menu. */
.menu-toggle {
  display: none;
}

.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;

    @include desktop {
      display: flex;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    display: none;
    float: left;
    width: 50%;
  }

  .nav-next {
    display: none;
    float: right;
    text-align: right;
    width: 50%;
  }
}

.number-pagination {

  .page-numbers,
  .page-numbers:first-child {
    padding-right: $base__space-unit / 3;
  }
}

.category .number-pagination,
.search-results .number-pagination {
  margin-top: $base__space-unit * 2;
}

.search-results .number-pagination {
  margin-bottom: $base__space-unit * 2;
}

.site-info {
  a {
    @include tablet {
      white-space: pre-wrap;
    }
  }
}