/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  margin-top: $base__space-unit * 1.75;

  @include tablet {
    margin-bottom: $base__space-unit;
  }

  @include desktop {
    margin-top: $base__space-unit;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Copy */

p {
  // margin-bottom: $base__space-unit;
  margin: $base__space-unit 0;
  font-size: $font__size;
}

.home.blog {
  p {
    font-size: $font__size * 1.25;

    @include tablet {
      font-size: $font__size * 1.75;
      margin-top: $base__space-unit * 1.8;
    }

    @include desktop {
      font-size: $font__size * 2.5;
      margin-top: 0;
    }
  }
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 $base__space-unit;
}

address {
  margin: 0 0 $base__space-unit;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  font-size: .9375rem;
  line-height: $font__line-height-pre;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  font-size: .9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}