// Structure

$phone-width: 420px;
$tablet-width: 620px;
$desktop-width: 1080px;

$base__space-unit: 1.5rem;
$fixed__width: 1080px;
$border__dashed: 1px dashed #fff;
$border__solid: 1px solid #00cc00;

// Colors

$color__background-body: #222;
$color__text-main: #fff;

$color__brand-green: #00cc00;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #00cc00;
$color__link-visited: #00cc00;
$color__link-hover: #008e00;

// Typography

$font__main: "Exo Web",
sans-serif;
$font__button: "Exo Web Bold",
sans-serif;
$font__accent: "Exo Italic",
sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size: 16px;